section {
    display: flex;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 10px 0 56px 0;
    list-style: none;
    width: 40%;
}

.createTask, .loadingTask {
    color: #fff;
    text-align: center;
}

.createContainer, .loadingContainer {
    display: grid;
    justify-items: center;
}

.createImageTask, .loadingImageTask {
    width: 75%;
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
    .createImageTask, .loadingImageTask {
        width: 90%;
    }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
    ul {
        width: 100%;
    }

    .createImageTask, .loadingImageTask {
        width: 90%;
    }
}