.TodoCounterTitle {
    text-align: center;
    margin: 0;
    padding: 48px 0px 0px 0px;
    color: #fff;
}

.TodoCounter {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 24px 48px 24px 48px;
    color: #fff;
}

