.container__todoSearch {
    display: flex;
    justify-content: center;
}

.TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 44px;
    width: 30%;
    font-size: 24px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: #1E1E1E;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.TodoSearch:focus {
    outline-color: #33b1ff;
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
    .TodoSearch {
        width: 90%;
    }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
    .TodoSearch {
        width: 90%;
    }
}